and_chr >= 63
chrome >= 63
and_ff >= 58
android >= 120
edge >= 79
samsung >= 8.2
safari >= 11.1
ios_saf >= 11.4
opera >= 50
firefox >= 58
unreleased and_chr versions
unreleased chrome versions
unreleased and_ff versions
unreleased android versions
unreleased edge versions
unreleased samsung versions
unreleased safari versions
unreleased ios_saf versions
unreleased opera versions
unreleased firefox versions