<!doctype html>
<html lang="en" class="no-js">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <!-- TODO: Change favicons / images / values -->
    <!-- TODO: https://realfavicongenerator.net/ -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#465e69" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Webpack Tailwind Starter" />
    <meta name="application-name" content="Webpack Tailwind Starter" />
    <meta name="msapplication-TileColor" content="#e2e8f0" />
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="theme-color" content="#e2e8f0" />

    <!-- Title & description -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="TODO: Add a description of your project here." />

    <!-- Facebook Open-Graph Tags -->
    <meta property="og:title" content="Webpack Tailwind Starter" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Webpack Tailwind Starter" />
    <meta property="og:description" content="TODO: Add a description of your project here." />
    <meta property="og:url" content="<%= publicUrl %>/" />
    <meta property="og:image" content="<%= publicUrl %>/fb_cover.jpg" />
  </head>
  <body>
    <!-- <main
      class="flex min-h-full flex-col items-center justify-center bg-[#e2e8f0] px-6 py-24 sm:py-32 lg:px-8"
    >
      <img
        src="<%= require('./images/webpack-icon.svg') %>"
        class="h-[36vmin] animate-logo-bounce"
      />
      <p class="mt-6 text-[calc(10px+2vmin)] leading-7 text-gray-500 test">
        Edit <code>src/index.js</code> and save to reload.
      </p>
    </main>
  -->

    <div class="bg">
      <header x-data="{ isOpen: false }" class="absolute navbar-expand-lg inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-6" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img class="h-7 w-auto" src="<%= require('./images/nimbu_logo.png') %>" alt="logo" />
            </a>
          </div>

          <div class="hidden lg:flex lg:gap-x-12">
            <a
              href="#"
              class="relative text-black hover:text-black transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-500 before:absolute before:bg-yellow before:origin-center before:h-[2px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-500 after:absolute after:bg-yellow after:origin-center after:h-[2px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%] text-md font-semibold leading-6 text-gray-900"
              >Website</a
            >
            <a
              href="#"
              class="relative text-black hover:text-black transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-500 before:absolute before:bg-yellow before:origin-center before:h-[2px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-500 after:absolute after:bg-yellow after:origin-center after:h-[2px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%] text-md font-semibold leading-6 text-gray-900"
              >E-commerce</a
            >
            <a
              href="#"
              class="relative text-black hover:text-black transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-500 before:absolute before:bg-yellow before:origin-center before:h-[2px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-500 after:absolute after:bg-yellow after:origin-center after:h-[2px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%] text-md font-semibold leading-6 text-gray-900"
              >Mobile Apps</a
            >
          </div>

          <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a
              href="#"
              class="relative text-black hover:text-black transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-500 before:absolute before:bg-yellow before:origin-center before:h-[2px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-500 after:absolute after:bg-yellow after:origin-center after:h-[2px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%] text-md font-semibold leading-6 text-gray-900"
              >Pricing <span class="arrow" aria-hidden="true">&rarr;</span></a
            >
          </div>

          <div class="flex lg:hidden">
            <button
              @click="isOpen = !isOpen"
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.8"
                stroke="#fdb833"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
        </nav>

        <div
          x-show="isOpen"
          @click.away="isOpen = false"
          class="lg:hidden"
          role="dialog"
          aria-modal="true"
        >
          <div class="fixed inset-0 z-50"></div>
          <div
            class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto px-6 py-6 sm:max-w-full sm:ring-gray-900/10 bg-yellow"
          >
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img
                  class="h-8 w-auto"
                  src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                  alt=""
                />
              </a>
              <button
                @click="isOpen = !isOpen"
                type="button"
                class="-m-2.5 rounded-md p-2.5 text-black-700"
              >
                <span class="sr-only">Close menu</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-black">
                <div class="space-y-2 py-6">
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >Website</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >E-commerce</a
                  >
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >Mobile Apps</a
                  >
                </div>
                <div class="py-6">
                  <a
                    href="#"
                    class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >Pricing</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="relative isolate px-6 lg:px-8">
        <div class="mx-auto max-w-2xl pt-52 pb-20">
          <div class="sm:mb-6 sm:flex sm:justify-center text-center">
            <div
              class="relative rounded-full px-3 py-1 text-sm leading-6 text-black-600 ring-2 ring-black hover:ring-yellow text-xs"
            >
              Announcing our next round of funding.
              <a href="#" class="font-semibold font-franklin"
                ><span class="absolute inset-0" aria-hidden="true"></span>
                <span class="titleColor" aria-hidden="true">Read more&rarr;</span></a
              >
            </div>
          </div>
          <div class="text-center">
            <h1
              class="font-bold text-4xl font-bold tracking-tight text-gray-900 sm:text-7xl pt-5 font-outfit"
            >
              A Revolutionary Web & <span class="titleColor">App platform</span>
            </h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat
              commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a
                href="#"
                class="rounded-full bg-black px-20 py-3.5 text-sm font-semibold text-white hover:bg-yellow focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600"
                >Get started</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="relative isolate bg-cover element" style="background-image: url('/images/backgroundElement.png')"
    >
      <div class="pt-24 pb-24">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center"></div>
          <img
            src="<%= require('./images/nimbu_dashboard.png') %>"
            alt="App screenshot"
            width="2432"
            height="1442"
          />
        </div>
        <div class="relative isolate px-6 lg:px-8">
          <div class="mx-auto max-w-2xl pt-52 pb-20">
            
            <div class="text-center">
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Let us take care of your infrastructure
              </p>
              <h1
                class="font-bold text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl pt-5 font-outfit"
              >
                Focus on what <span class="titleColor">you love</span>
              </h1>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
