<!doctype html>
<html lang="en" class="no-js">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <!-- TODO: Change favicons / images / values -->
    <!-- TODO: https://realfavicongenerator.net/ -->
    <link rel="stylesheet" href="path/to/fontawesome/css/all.min.css" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="shortcut icon" href="<%= require('./images/nimbu_logomark.png') %>" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#465e69" />
    <link rel="shortcut icon" href="favicon.ico" />

    <meta name="apple-mobile-web-app-title" content="Webpack Tailwind Starter" />
    <meta name="application-name" content="Webpack Tailwind Starter" />
    <meta name="msapplication-TileColor" content="#e2e8f0" />
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="theme-color" content="#e2e8f0" />

    <!-- Title & description -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="TODO: Add a description of your project here." />

    <!-- Facebook Open-Graph Tags -->
    <meta property="og:title" content="Webpack Tailwind Starter" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Webpack Tailwind Starter" />
    <meta property="og:description" content="TODO: Add a description of your project here." />
    <meta property="og:url" content="<%= publicUrl %>/" />
    <meta property="og:image" content="<%= publicUrl %>/fb_cover.jpg" />
  </head>
  <body>
    <!-- <main
      class="flex min-h-full flex-col items-center justify-center bg-[#e2e8f0] px-6 py-24 sm:py-32 lg:px-8"
    >
      <img
        src="<%= require('./images/webpack-icon.svg') %>"
        class="h-[36vmin] animate-logo-bounce"
      />
      <p class="mt-6 text-[calc(10px+2vmin)] leading-7 text-gray-500 test">
        Edit <code>src/index.js</code> and save to reload.
      </p>
    </main>

             <div class="hidden lg:flex lg:gap-x-12">
            <a
              href="#"
              class="relative text-black hover:text-black transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-500 before:absolute before:bg-yellow before:origin-center before:h-[2px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-500 after:absolute after:bg-yellow after:origin-center after:h-[2px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%] text-md font-semibold leading-6 text-gray-900"
              >Website</a
            >
            <a
              href="#"
              class="relative text-black hover:text-black transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-500 before:absolute before:bg-yellow before:origin-center before:h-[2px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-500 after:absolute after:bg-yellow after:origin-center after:h-[2px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%] text-md font-semibold leading-6 text-gray-900"
              >E-commerce</a
            >
            <a
              href="#"
              class="relative text-black hover:text-black transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-500 before:absolute before:bg-yellow before:origin-center before:h-[2px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-500 after:absolute after:bg-yellow after:origin-center after:h-[2px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%] text-md font-semibold leading-6 text-gray-900"
              >Mobile Apps</a
            >
          </div>

          <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a
              href="#"
              class="relative text-black hover:text-black transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-500 before:absolute before:bg-yellow before:origin-center before:h-[2px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-500 after:absolute after:bg-yellow after:origin-center after:h-[2px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%] text-md font-semibold leading-6 text-gray-900"
              >Pricing <span class="arrow" aria-hidden="true">&rarr;</span></a
            >
          </div>
  -->

    <div class="bg">
      <header
        x-data="{ isOpen: false }"
        class="menu-container absolute inset-x-0 top-0 z-50 header_nimbu"
      >
        <nav class="flex items-center justify-between p-3 lg:px-6" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Your Company</span>
              <img class="h-7 w-auto" src="<%= require('./images/nimbu_logo.png') %>" alt="logo" />
            </a>
          </div>

          <div class="flex items-center gap-x-8">
            <a
              class="inline-flex rounded-full px-5 py-2 text-sm font-semibold font-franklin transition bg-black text-white hover:bg-white ring-2 hover:ring-2 ring-black hover:bg-white hover:text-black"
              href="/contact"
            >
              <span class="relative top-px">Contact us</span>
            </a>
            <button
              @click="isOpen = !isOpen"
              type="button"
              class="-m-2.5 inline-flex items-center justify-center p-2.5 text-black transition-colors duration-400 rounded-full p-2.5 transition hover:bg-yellow"
              :class="{ 'text-yellow': isOpen, 'header_nimbu': isOpen }"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="h-6 w-6 fill-black rounded-full group-hover:fill-neutral-700"
              >
                <path d="M2 6h20v2H2zM2 16h20v2H2z"></path>
              </svg>
            </button>
          </div>
        </nav>

        <!-- Mobile menu content -->
        <div
          x-show="isOpen"
          @click.away="isOpen = false"
          :class="{ 'overflow-hidden': isOpen }"
          class="menu-container fixed inset-0 z-50 flex items-center justify-center transition-opacity duration-500"
          role="dialog"
          aria-modal="true"
        >
          <div class="absolute inset-0 bg-black"></div>
          <div
            class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto px-6 py-6 sm:max-w-full sm:ring-gray-900/10 bg-black transition-transform duration-500"
            :style="{ transform: isOpen ? 'translateX(0)' : 'translateX(100%)' }"
           
          >
            <div class="menu-container absolute inset-x-0 top-2 z-50 header_nimbu">
              <div class="flex items-center justify-between p-3 lg:px-6">
                <a href="#" class="-m-1.5 p-1.5">
                  <span class="sr-only">Your Company</span>
                  <img
                    class="h-7 w-auto"
                    src="<%= require('./images/nimbu_logo.png') %>"
                    alt="logo"
                  />
                </a>
                <button
                  @click="isOpen = !isOpen"
                  type="button"
                  class="-m-2.5 p-2.5 transition-colors duration-400 rounded-full p-2.5 transition hover:bg-yellow"
                >
                  <span class="sr-only">Close menu</span>
                  <svg
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                    class="h-6 w-6 fill-white group-hover:fill-neutral-200"
                  >
                    <path d="m5.636 4.223 14.142 14.142-1.414 1.414L4.222 5.637z"></path>
                    <path d="M4.222 18.363 18.364 4.22l1.414 1.414L5.636 19.777z"></path>
                  </svg>
                </button>
              </div>

              <div class="header_container h-[80vh]">
                <div class="mt-6 flow-root header_nimbu_ham">
                  <div class="mt-20">
                    <div class="ham_tekst">
                      <a
                        href="#"
                        class="-mx-5 block px-3 py-6 text-base font-semibold leading-7 text-white hover:text-yellow transition-colors duration-200"
                        >Website</a
                      >
                      <a
                        href="#"
                        class="-mx-5 block px-3 py-6 text-base font-semibold leading-7 text-white hover:text-yellow transition-colors duration-200"
                        >E-commerce</a
                      >
                      <a
                        href="#"
                        class="-mx-5 block px-3 py-6 text-base font-semibold leading-7 text-white hover:text-yellow transition-colors duration-200"
                        >Mobile Apps</a
                      >
                      <a
                        href="#"
                        class="-mx-5 block px-3 py-6 text-base font-semibold leading-7 text-white hover:text-yellow transition-colors duration-200"
                        >Pricing</a
                      >
                    </div>
                  </div>
                  <div class="mx-auto max-w-2xl pb-20">
                    <video class="h-full w-full hamLogo" autoplay muted loop>
                      <source src="<%= require('./images/nimbu_3d.mp4') %>" type="video/mp4" />
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="relative isolate px-6 lg:px-8 nimbu_start bg-cover">
        <div class="mx-auto max-w-4xl pt-56 pb-48">
          <div
            class="sm:mb-6 sm:flex sm:justify-center text-center hover:scale-95 transition-transform duration-300"
          >
            <div
              class="relative rounded-full px-3 py-2 text-sm leading-6 text-white text-xs roundFunding"
            >
              Announcing our next round of funding.
              <a href="#scroll" class="font-semibold font-franklin"
                ><span class="absolute inset-0" aria-hidden="true"></span>
                <span aria-hidden="true">Read more&rarr;</span></a
              >
            </div>
          </div>
          <div class="text-center">
            <h1 class="text-6xl font-bold tracking-tight text-black sm:text-8xl font-outfit">
              <span class="block overflow-hidden line-clamp-2">
                A Revolutionary Web & <span class="titleColor">App platform</span>
              </span>
            </h1>
            <p class="mt-6 text-lg flex pt-5 text-black">
              Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat
              commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a
                href="#"
                class="rounded-full bg-black px-20 py-3.5 text-sm font-semibold text-white ring-2 hover:ring-2 ring-black hover:bg-white hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600 transition-colors duration-300"
                >Get started</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="relative isolate bg-cover element"
      style="background-image: url('<%= require('./images/backgroundElement.png') %>')"
    >
      <div id="scroll">
        <div class="pt-24 pb-24">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <video class="h-full w-full rounded-2xl drop-shadow-xl" autoplay muted loop>
              <source src="<%= require('./images/dashboard_video_test.mp4') %>" type="video/mp4" />
            </video>
          </div>
        </div>

        <div class="relative isolate px-6 lg:px-8">
          <div class="mx-auto max-w-2xl pt-32 pb-20">
            <div class="text-center">
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Let us take care of your infrastructure
              </p>
              <h1
                class="font-bold text-4xl font-bold tracking-tight text-black sm:text-6xl font-outfit"
              >
                Focus on what <span class="titleColor">you love</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="loading demo-10 pt-72">
      <main>
        <div class="content content--highlight content--intro"></div>
        <div class="wrap bg-black rounded-3xl">
          <div class="content content--sticky content--half bg-1">
            <img
              class="content__img content__img--large"
              src="<%= require('./images/shape1.png') %>"
            />
            <h2 class="content__title">Building websites</h2>
            <p class="content__text content__text--narrow text-meta">
              The algorithm's workings are shrouded in complexity.
            </p>
            <a
              href="#"
              class="rounded-full bg-black px-20 py-3.5 text-sm font-semibold text-white hover:ring-2 ring-black hover:bg-blue hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600 ring-2 transition-colors duration-300"
              >Learn More</a
            >
          </div>
          <div class="content content--sticky content--half bg-2">
            <img
              class="content__img content__img--large"
              src="<%= require('./images/shape2.png') %>"
            />
            <h2 class="content__title">Building apps</h2>
            <p class="content__text content__text--narrow text-meta">
              Enshrining the principles of conformity and reinforcing the status quo.
            </p>
            <a
              href="#"
              class="rounded-full bg-black px-20 py-3.5 text-sm font-semibold text-white hover:ring-2 ring-black hover:bg-yellow hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600 ring-2 transition-colors duration-300"
              >Learn More</a
            >
          </div>
          <div class="content content--sticky content--half bg-3">
            <img
              class="content__img content__img--large"
              src="<%= require('./images/shape3.png') %>"
            />
            <h2 class="content__title">Manage content</h2>
            <p class="content__text content__text--narrow text-meta">
              The elusive entities, lacking human form, operate in the shadows.
            </p>
            <a
              href="#"
              class="rounded-full bg-black px-20 py-3.5 text-sm font-semibold text-white hover:ring-2 ring-black hover:bg-green hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600 ring-2 transition-colors duration-300"
              >Learn More</a
            >
          </div>
        </div>
      </main>
    </section>

    <div class="relative isolate px-6 lg:px-8 bg-black pb-16">
      <div class="mx-auto max-w-2xl pt-32">
        <div class="text-center">
          <h1
            class="font-bold text-4xl font-bold tracking-tight text-white sm:text-7xl font-outfit"
          >
            Clients
          </h1>
          <p class="mt-6 text-lg leading-8 text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

      <div class="w-full max-w-7xl mx-auto px-4 md:px-6 py-24">
        <div class="text-center">
          <div
            x-data="{}"
            x-init="$nextTick(() => {
                    let ul = $refs.logos;
                    ul.insertAdjacentHTML('afterend', ul.outerHTML);
                    ul.nextSibling.setAttribute('aria-hidden', 'true');
                })"
            class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
          >
            <ul
              x-ref="logos"
              class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
            >
              <li>
                <img src="<%= require('./images/facebook.svg') %>" alt="Facebook" />
              </li>
              <li>
                <img src="<%= require('./images/disney.svg') %>" alt="Disney" />
              </li>
              <li>
                <img src="<%= require('./images/airbnb.svg') %>" alt="Airbnb" />
              </li>
              <li>
                <img src="<%= require('./images/apple.svg') %>" alt="Apple" />
              </li>
              <li>
                <img src="<%= require('./images/spark.svg') %>" alt="Spark" />
              </li>
              <li>
                <img src="<%= require('./images/samsung.svg') %>" alt="Samsung" />
              </li>
              <li>
                <img src="<%= require('./images/quora.svg') %>" alt="Quora" />
              </li>
              <li>
                <img src="<%= require('./images/sass.svg') %>" alt="Sass" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white py-24 sm:py-44 mx-auto max-w-full px-12 lg:px-20">
      <div class="mx-auto max-w-screen-2xl relative">
        <div class="absolute inset-0 bg-yellow rounded-2xl overflow-hidden z-0"></div>

        <div class="relative z-10 max-w-screen-2xl">
          <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="text-center">
              <h2
                class="text-3xl font-bold tracking-tight text-black sm:text-7xl pt-20 pb-10 font-outfit"
              >
                Empowering <span class="text-white">success</span> in numbers
              </h2>
              <p class="mt-4 leading-8 text-black px-6 lg:px-8 mx-auto max-w-4xl">
                We redefine collaboration, innovation, and success. From our unwavering commitment
                to excellence to our dynamic approach that adapts to your unique needs, discover why
                working with us is not just a choice, it's a strategic investment in your
                unparalleled success.
              </p>
            </div>

            <dl
              class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-1 lg:grid-cols-3"
            >
              <div class="flex flex-col bg-black p-10">
                <dt class="text-sm text-3xl font-semibold leading-6 text-gray-300">
                  Setisfactionn rate
                </dt>
                <dd class="order-first text-8xl font-semibold tracking-tight text-white">97%</dd>
              </div>
              <div class="flex flex-col bg-black p-8">
                <dt class="text-sm text-3xl font-semibold leading-6 text-gray-300">
                  Delivered projects
                </dt>
                <dd class="order-first text-8xl font-semibold tracking-tight text-white">1000+</dd>
              </div>
              <div class="flex flex-col bg-black p-8">
                <dt class="text-sm text-3xl font-semibold leading-6 text-gray-300">
                  Years of experience
                </dt>
                <dd class="order-first text-8xl font-semibold tracking-tight text-white">10+</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-4xl pt-22">
      <div class="text-center">
        <h1 class="font-bold text-4xl tracking-tight text-black sm:text-7xl font-outfit">
          Websites powered by Nimbu
        </h1>
      </div>
    </div>

    <!-- Swiper -->
    <div class="pt-20 pb-44 overflow-x-hidden w-full">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="<%= require('./images/foto1.png') %>"
              alt="Sass"
              class="hover:scale-105 transition-transform duration-300"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="<%= require('./images/foto18.png') %>"
              alt="Sass"
              class="hover:scale-105 transition-transform duration-300"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="<%= require('./images/foto3.png') %>"
              alt="Sass"
              class="hover:scale-105 transition-transform duration-300"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="<%= require('./images/foto4.png') %>"
              alt="Sass"
              class="hover:scale-105 transition-transform duration-300"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="<%= require('./images/foto5.png') %>"
              alt="Sass"
              class="hover:scale-105 transition-transform duration-300"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="<%= require('./images/foto6.png') %>"
              alt="Sass"
              class="hover:scale-105 transition-transform duration-300"
            />
          </div>
        </div>
        <div class="swiper mt-8">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto7.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto8.png') %>"
                alt="Sass"
                class="hover:scale-110 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto9.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto10.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto11.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto12.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
          </div>
        </div>
        <div class="swiper mt-8">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto13.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto14.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto15.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto16.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto17.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="<%= require('./images/foto2.png') %>"
                alt="Sass"
                class="hover:scale-105 transition-transform duration-300"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container_nimbu">
      <div class="relative isolate overflow-hidden">
        <div class="mx-auto max-w-full px-12 lg:px-20">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="font-bold text-4xl tracking-tight text-black sm:text-7xl font-outfit">
              Let's <span class="text-yellow">connect</span>
            </h2>
            <p class="mt-6 text-lg leading-8 text-black font-franklin">
              Ready to take the next step? Contact us today to explore how our innovative strategies
              can propel your business forward. Our team is here to turn your vision into a reality.
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white mx-auto max-w-full px-12 lg:px-20">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-4 sm:mt-20 lg:mx-0 lg:max-w-none lg:gap-4"
        >
          <div
            class="rounded-3xl bg-yellow p-6 text-center hover:scale-95 transition-transform duration-300"
          >
            <div class="text-base leading-7">
              <svg
                class="h-16 w-16 text-green svg-center"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                />
                <polyline points="22,6 12,13 2,6" />
              </svg>
              <h3 class="font-semibold text-4xl text-black font-outfit">Drop us a line</h3>
              <p class="mt-2 text-black font-franklin">Reach out and let's begin the dialogue</p>
            </div>
          </div>

          <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-2 lg:max-w-none lg:grid-cols-2 lg:gap-4"
          >
            <div class="flex gap-x-4 rounded-3xl bg-black p-16 ">
              <div class="text-base leading-7">
                <h3 class="font-semibold text-4xl text-white font-outfit">Contact with ease</h3>
                <p class="mt-3 text-white font-franklin">
                  Your inquiries, ideas, and collaboration opportunities are just a click away.
                  Let's start the conversation.
                </p>

                <form action="#" method="POST" class="mx-auto mt-10">
                  <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                    <div class="sm:col-span-2">
                      <label
                        for="first-name"
                        class="block text-lg font-semibold leading-6 text-white font-outfit"
                        >Name</label
                      >
                      <div class="mt-2.5">
                        <input
                          placeholder="Alex Johnson"
                          type="text"
                          name="first-name"
                          id="first-name"
                          autocomplete="given-name"
                          class="block w-full bg-black rounded-xl border-0 px-3.5 py-5 text-white ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-white focus:ring-white sm:text-sm sm:leading-6 transition-ring duration-300"
                        />
                      </div>
                    </div>

                    <div class="sm:col-span-2">
                      <label
                        for="email"
                        class="block text-lg font-semibold leading-6 text-white font-outfit"
                        >Email</label
                      >
                      <div class="mt-2.5">
                        <input
                          placeholder="alexjohnson@gmail.com"
                          type="email"
                          name="email"
                          id="email"
                          autocomplete="email"
                          class="block w-full bg-black rounded-xl border-0 px-3.5 py-5 text-white ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-white focus:ring-white sm:text-sm sm:leading-6 transition-ring duration-300"
                        />
                      </div>
                    </div>

                    <div class="sm:col-span-2">
                      <label
                        for="message"
                        class="block text-lg font-semibold leading-6 text-white font-outfit"
                        >Question</label
                      >
                      <div class="mt-2.5">
                        <input
                          placeholder="How can we help you?"
                          name="message"
                          id="message"
                          rows="4"
                          class="block w-full bg-black rounded-xl border-0 px-3.5 py-5 text-white ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset hover:ring-white focus:ring-white sm:text-sm sm:leading-6 transition-ring duration-300"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="mt-10">
                    <button
                      type="submit"
                      class="block w-40 font-outfit rounded-md px-3.5 py-4 text-center text-lg font-semibold text-white bg-yellow hover:bg-black placeholder:text-gray-400 focus-visible:outline ring-yellow ring-2 hover:ring-yellow focus-visible:outline-2 focus-visible:outline-offset-2 transition-colors duration-300"
                    >
                      Let's talk
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <img
              class="w-full h-auto rounded-3xl"
              src="<%= require('./images/nimbu_character.png') %>"
              alt="logo"
            />
          </div>
        </div>
      </div>

      <footer class="bg-white mx-auto max-w-full px-12 lg:px-20">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 gap-4 sm:mt-20 lg:mx-0 lg:max-w-none lg:gap-4"
        >
          <div class="rounded-3xl bg-black p-6">
            <div class="mx-auto px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
              <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                <div class="space-y-8">
                  <img
                    class="h-7"
                    src="<%= require('./images/nimbu_logo.png') %>"
                    alt="Company name"
                  />
                  <p class="text-sm leading-6 text-gray-300">
                    Making the world a better place through constructing elegant hierarchies.
                  </p>
                </div>
                <div class="mt-16 grid justify-end gap-8 xl:col-span-2 xl:mt-0">
                  <div class="md:grid md:grid-cols-2 md:gap-12 text-right">
                    <div>
                      <h3 class="text-sm font-semibold leading-6 text-white">Fields</h3>
                      <ul role="list" class="mt-6 space-y-4">
                        <li>
                          <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white"
                            >Website</a
                          >
                        </li>
                        <li>
                          <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white"
                            >Apps</a
                          >
                        </li>
                        <li>
                          <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white"
                            >Manage Content</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="mt-10 md:mt-0 text-right">
                      <h3 class="text-sm font-semibold leading-6 text-white">General</h3>
                      <ul role="list" class="mt-6 space-y-4">
                        <li>
                          <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white"
                            >Privacy Policy</a
                          >
                        </li>
                        <li>
                          <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white"
                            >Terms of use</a
                          >
                        </li>
                        <li>
                          <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white"
                            >Status</a
                          >
                        </li>
                        <li>
                          <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white"
                            >Support</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
