<!doctype html>
<html lang="en" class="no-js">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <!-- TODO: Change favicons / images / values -->
    <!-- TODO: https://realfavicongenerator.net/ -->
    <link rel="stylesheet" href="path/to/fontawesome/css/all.min.css" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="<%= require('./images/nimbu_logomark.png') %>"
    />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#465e69" />
    <link rel="shortcut icon" href="favicon.ico" />

    <meta
      name="apple-mobile-web-app-title"
      content="Webpack Tailwind Starter"
    />
    <meta name="application-name" content="Webpack Tailwind Starter" />
    <meta name="msapplication-TileColor" content="#e2e8f0" />
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="theme-color" content="#e2e8f0" />

    <!-- Title & description -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Facebook Open-Graph Tags -->
    <meta property="og:title" content="Webpack Tailwind Starter" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Webpack Tailwind Starter" />
    <meta
      property="og:description"
      content="TODO: Add a description of your project here."
    />
    <meta property="og:url" content="<%= publicUrl %>/" />
    <meta property="og:image" content="<%= publicUrl %>/fb_cover.jpg" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"
    ></script>
  </head>

  <body class="bg-white">
    <div class="js" data-exclude-javascript>
      <header
        x-data="{ hasAnimated: false, show: false }"
        x-intersect.once="show = true; hasAnimated = true"
        :class="{ 'animate-fade-down': show }"
        class="navbar-expand-lg max-w-8xl absolute inset-x-0 top-0 z-50 animate-fade-down bg-cover animate-delay-500 animate-duration-[1200ms]"
      >
        <nav
          class="mx-10 flex items-center justify-between p-10 lg:px-6"
          aria-label="Global"
        >
          <div class="flex lg:flex-1">
            <a href="index.html" class="-m-1.5 p-1.5">
              <img
                class="h-7 w-auto transition-transform duration-300 hover:scale-95"
                src="<%= require('./images/nimbu_logo_white.png') %>"
                alt="logo"
              />
            </a>
          </div>
        </nav>
      </header>

      <div
        style="
          background-image: url('<%= require('./images/bg-nimbu-element.svg') %>');
        "
        class="backgroundPolicy w-full"
      >
        <div
          x-data="{ hasAnimated: false, show: false }"
          x-intersect.once="show = true; hasAnimated = true"
          :class="{ 'animate-fade-up': show, 'sm:max-w-full': true, 'md:max-w-2xl': true, 'lg:max-w-4xl': true }"
          class="mx-auto animate-fade-up pt-52 animate-duration-[1200ms]"
        >
          <div class="text-center">
            <h1
              class="responsiveText font-outfit text-4xl font-bold tracking-tight text-white md:text-5xl lg:text-7xl"
            >
              Nimbu
              <span class="text-yellow"> Privacy Policy</span>
            </h1>
            <p
              class="responsiveText2 mt-6 pb-20 text-lg leading-8 text-white lg:text-3xl"
            >
              All things concerning our privacy policy
            </p>
          </div>
        </div>
      </div>

      <div
        x-data="{ hasAnimated: false, show: false }"
        x-intersect.once="show = true; hasAnimated = true"
        :class="{ 'animate-fade-up': show }"
        class="animate-fade-up animate-delay-[300ms] animate-duration-[1200ms]"
      >
        <div class="md:pt-38 mx-auto max-w-4xl px-4 pt-20 sm:pt-20">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Welcome to Nimbu. Nimbu cares about online privacy and takes the
              security of your information very seriously. This policy covers
              the collection and usage of your personal information. Please read
              it carefully. If you have any questions concerning our privacy
              policy, send us a message at help.Nimbu.com. This Privacy Policy
              covers the collection and usage of your personal information
              whenever you visit on Nimbu.com, or any other website created with
              Nimbu (collectively, the "Nimbu Websites"). Please read this
              Privacy Policy carefully. For the purposes of this Privacy Policy,
              "you," "your," and "user" shall refer to any user and/or visitor
              of any of the Nimbu Websites. Unless explicitly stated otherwise,
              your use of any of the Nimbu Websites, and/or any of the Products
              and Services offered or provided by Nimbu, including the addition
              of new properties, shall be governed by this Privacy Policy and
              the Nimbu Terms and Conditions Agreement, where applicable,
              whether or not you register as a user. Be advised that we may also
              offer or provide services from time to time that are governed by
              the privacy policy of the respective service providers, and you
              agree to be further bound by any rules that are applicable to
              Nimbu with respect to the service providers. This Privacy Policy
              may change from time to time, at our sole and absolute discretion.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              INFORMATION COLLECTION AND USE BY NIMBU.
            </h1>
          </div>
        </div>
        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Nimbu collects user submitted information such as name and email
              address to send notifications to those users relating to, without
              limitation, the Nimbu service, special events, contests and
              special offers. As is standard practice on many corporate
              websites, Nimbu also logs non-personally identifiable information
              which includes, without limitation, IP address, profile
              information, aggregate user data, and browser type, from users of
              the Nimbu Websites. This data is used to improve the Nimbu
              Websites services, to analyze trends, to administer the the Nimbu
              Websites, to track user movement around the Nimbu Websites and to
              gather demographic information about our user base as a whole.
              Nimbu will not use the information collected to market directly to
              that person. This non-personally-identifiable information may be
              shared with third-parties to provide more relevant services and
              advertisements to users. User IP addresses are recorded for
              security and monitoring purposes. Nimbu uses pixel tags (tiny
              graphic images) to tell us what parts of the Nimbu Websites have
              been visited or to measure the effectiveness of searches users
              perform on the Nimbu Websites. Pixel tags also enable us to send
              email messages in a format users can read, and they also tell us
              whether emails have been opened to assure that we're only sending
              email messages that are of interest to our users. Nimbu stores all
              of this information in a secure database.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              USE OF COOKIES.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Like most companies, Nimbu uses cookies to store user preferences
              and to record session information for various purposes, including,
              without limitation, market research to help us determine how best
              to provide useful information to users and to understand which
              parts of the Nimbu Websites and Internet services are of most
              interest to them, to customize the newsletter, advertising, and
              Web page content based on browser type and user profile
              information, to help track usage to help us understand which parts
              of the Nimbu Websites are the most popular, where our users are
              going, and how much time they spend there, to make usage of the
              Nimbu Websites even more rewarding as well as to study the
              effectiveness of our communications with users and to customize
              each user's experience and provide greater convenience. Please
              rest assured, Nimbu doesn't link the information we store in
              cookies to any personally identifiable information you submit
              while on the Nimbu Websites. You may be able to configure your
              browser to accept or reject all or some cookies or notify you when
              a cookie is set. Each browser is different, so check the "Help"
              menu of your browser to learn how to change your cookie
              preferences; however, you must enable cookies from Nimbu in order
              to use most functions on the site.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              SHARING / DISCLOSURE.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              From time to time, Nimbu or a Nimbu Partner may sponsor a
              promotion, sweepstakes, or contest on the Nimbu Websites. In such
              cases users may be asked to provide personal information including
              name, email address or home address, or to answer questions in
              order to participate. Nimbu may transfer such personal information
              to certain ad partners that you have explicitly requested to
              receive information from. It will be clear at the point of
              collection who is collecting the personal information and whose
              privacy statement will apply. Nimbu does not sell or rent your
              contact information to marketers. To help us provide superior
              service, we may share your personal information with third parties
              who will safeguard it in accordance with this Privacy Policy.
              There are also times when it may be advantageous for Nimbu to make
              certain personal information about you available to companies that
              Nimbu has a strategic relationship with or that perform work for
              Nimbu to provide products and services to you on our behalf. These
              companies may help us process information, deliver products to
              you, manage and enhance customer data, provide customer service,
              assess your interest in our products and services, or conduct
              customer research or satisfaction surveys. These companies are
              also obligated to protect your personal information in accordance
              with Nimbu's policies. Without such information being made
              available, it would be difficult for you to purchase products,
              have products delivered to you, receive customer service, provide
              us feedback to improve our products and services, or access
              certain services, offers, and content on the Nimbu website. Nimbu
              will not disclose personal information to any third-party unless
              in accordance with Section 10 of this Privacy Policy. Nimbu
              reserves the right to transfer personal information to a successor
              in interest that acquires rights to that information as a result
              of the sale of Nimbu or substantially all of its assets to that
              successor in interest.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              LINKS TO THIRD-PARTY WEBSITES.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Nimbu contains links to third party websites. Nimbu is not
              responsible for the privacy policies and/or practices of or on
              other websites. When linking to another website, a user should
              read the privacy policy stated on that website. Our privacy policy
              only governs information collected on the Nimbu Websites.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              SHARING / DISCLOSURE.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Nimbu may send email messages which use or otherwise contain a
              "click-through URL" that is linked to content on the Nimbu
              Websites. When the "click-through URL" is clicked on or otherwise
              activated, the party who clicked on or otherwise activated the
              "click-through URL" is taken through the Nimbu web server(s)
              before arriving at the destination page. During this process,
              "click-through data" is collected by Nimbu, which may include,
              without limitation, data that helps us determine interest in
              particular topics and data that helps us measure the effectiveness
              of the communications we send out. If you prefer not to be tracked
              in this manner, simply avoid clicking on or otherwise activating
              text or graphic links in the email.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              CONCERNING CONTENT YOU ADD TO NIMBU.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Any content that you add, upload, post, publish, or otherwise
              disseminate through the Products and Services offered by Nimbu
              should be considered fully accessible by the public and not
              private. Such content, once published, may immediately become
              accessible on search engines and other sites. It is important that
              you are mindful of this fact.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              EMAIL PREFERENCES / OPTING-OUT.
            </h1>
          </div>
        </div>
        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Occasionally, Nimbu may send email regarding news, promotions,
              surveys, updates, or offers related to Nimbu. Users who no longer
              wish to receive these emails may choose not to by simply
              opting-out. To opt-out, simply click on the "Unsubscribe" link at
              the bottom of the email. It is important to note, users cannot
              opt-out of email regarding legal notices or user account changes.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              COMPLIANCE WITH LAW.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Nimbu may preserve any Content contained on or about its web
              server(s) and may also disclose such Content if required to do so
              by law or in the good faith that preservation or disclosure is
              reasonably necessary to: (a) comply with a search warrant or other
              legal process received by Nimbu; (b) enforce the Terms and
              Conditions; (c) respond to claims that any Content violates the
              rights of third-parties; or (d) protect the rights, property or
              personal safety of Nimbu, its users and the public.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              DATA TRANSMISSION.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              You acknowledge and agree that the technical processing and
              transmission of the Products and Services, including any of your
              Content, may involve (a) transmissions over various networks; and
              (b) changes to conform and adapt to the technical requirements of
              connecting the networks or devices.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              SECURITY.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Nimbu Accounts are secured by user-created (as applicable)
              passwords. Nimbu takes precautions to ensure that account
              information is kept private through reasonable measures such as
              encryption to protect private information that is stored within
              our database, and we restrict access to such private information
              to those employees who need access to perform their job functions,
              such as our customer service personnel and technical staff. Please
              note, however, that Nimbu cannot and does not guarantee the
              security of user account information. Unauthorized entry or use,
              hardware or software failure, and other factors may compromise the
              security of user account information at any time. Users are urged
              to take precautions to protect their personal data by changing
              passwords often, using a combination of letters and numbers, and
              using a secure web browser. For any additional information about
              the security measures Nimbu uses on the Nimbu Websites, please
              contact us at info@nimbu.io.
            </p>
          </div>
        </div>

        <div class="mx-auto max-w-4xl px-4 pt-20">
          <div class="text-start">
            <h1
              class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
            >
              AMENDMENTS AND CHANGES TO THIS PRIVACY POLICY.
            </h1>
          </div>
        </div>

        <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
          <div class="text-start">
            <p
              class="pb-3 pt-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              From time to time, Nimbu may make changes to this Privacy Policy.
              If we make changes, we will post them on this URL to make users
              aware of what the changes are so users will always be aware of
              what information we collect, how we use it, and when we may
              disclose it. A user is bound by any minor changes to the Privacy
              Policy when she or he uses the the Nimbu Websites after those
              changes have been posted. If, however, we are going to use a
              user's personally identifiable information in a manner materially
              different from that stated at the time of collection we will
              notify by posting a notice on Nimbu for 30 days. Last updated May
              31, 2013.
            </p>
          </div>
        </div>
      </div>

      <div
        x-data="{ hasAnimated: false, show: false }"
        x-intersect.once="show = true; hasAnimated = true"
        :class="{ 'animate-fade': show }"
        class="relative isolate animate-fade px-4 pb-24 pt-28 animate-delay-[400ms] animate-duration-[1200ms] md:px-6"
      >
        <div class="mx-auto max-w-7xl">
          <footer class="rounded-xl bg-blue" aria-labelledby="footer-heading">
            <div
              class="responsive_footer mx-auto max-w-[1540px] px-6 py-8 sm:px-8 sm:pt-20 lg:px-20 lg:pt-20"
            >
              <div
                class="flex flex-col justify-center xl:flex-row xl:items-center xl:justify-between"
              >
                <div class="mb-8 flex flex-wrap justify-center xl:mb-0">
                  <a href="#">
                    <img
                      class="h-8 transition-transform duration-300 hover:scale-95"
                      src="<%= require('./images/nimbu_logo.png') %>"
                      alt="Logo Nimbu"
                    />
                  </a>
                </div>
                <ul class="flex flex-wrap justify-center gap-4 xl:gap-8">
                  <li>
                    <a
                      href="/privacy"
                      class="text-sm leading-6 text-gray-300 hover:text-white"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      href="/terms"
                      class="text-sm leading-6 text-gray-300 hover:text-white"
                      >Terms and Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://status.zenjoy.be"
                      target="_blank"
                      class="text-sm leading-6 text-gray-300 hover:text-white"
                      >Status</a
                    >
                  </li>
                  <li>
                    <a
                      href="mailto:support@zenjoy.be"
                      class="text-sm leading-6 text-gray-300 hover:text-white"
                      >Support</a
                    >
                  </li>
                </ul>
              </div>

              <div
                class="mt-8 flex flex-col border-t border-white/10 pt-8 sm:flex-row sm:justify-between"
              >
                <p
                  class="text-center text-xs leading-5 text-white sm:text-left"
                >
                  &copy; 2024 Zenjoy, Inc. All rights reserved.
                </p>
                <div class="mt-4 text-center sm:mt-0 sm:text-right">
                  <a href="https://www.zenjoy.be/" target="_blank">
                    <button
                      class="rounded-full bg-white px-4 py-2 text-sm font-semibold text-black ring-1 ring-white transition-colors duration-300 hover:bg-blue hover:text-white hover:ring-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                    >
                      Zenjoy Website
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
