<!doctype html>
<html lang="en" class="no-js">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <!-- TODO: Change favicons / images / values -->
    <!-- TODO: https://realfavicongenerator.net/ -->
    <link rel="stylesheet" href="path/to/fontawesome/css/all.min.css" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="<%= require('./images/nimbu_logomark.png') %>"
    />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#465e69" />
    <link rel="shortcut icon" href="favicon.ico" />

    <meta
      name="apple-mobile-web-app-title"
      content="Webpack Tailwind Starter"
    />
    <meta name="application-name" content="Webpack Tailwind Starter" />
    <meta name="msapplication-TileColor" content="#e2e8f0" />
    <meta name="msapplication-config" content="browserconfig.xml" />
    <meta name="theme-color" content="#e2e8f0" />

    <!-- Title & description -->
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Facebook Open-Graph Tags -->
    <meta property="og:title" content="Webpack Tailwind Starter" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Webpack Tailwind Starter" />
    <meta
      property="og:description"
      content="TODO: Add a description of your project here."
    />
    <meta property="og:url" content="<%= publicUrl %>/" />
    <meta property="og:image" content="<%= publicUrl %>/fb_cover.jpg" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"
    ></script>
  </head>

  <body class="bg-white">
    <header
      x-data="{ hasAnimated: false, show: false }"
      x-intersect.once="show = true; hasAnimated = true"
      :class="{ 'animate-fade-down': show }"
      class="navbar-expand-lg max-w-8xl absolute inset-x-0 top-0 z-50 animate-fade-down bg-cover animate-delay-500 animate-duration-[1200ms]"
    >
      <nav
        class="mx-10 flex items-center justify-between p-10 lg:px-6"
        aria-label="Global"
      >
        <div class="flex lg:flex-1">
          <a href="index.html" class="-m-1.5 p-1.5">
            <img
              class="h-7 w-auto transition-transform duration-300 hover:scale-95"
              src="<%= require('./images/nimbu_logo_white.svg') %>"
              alt="logo"
            />
          </a>
        </div>
      </nav>
    </header>

    <div
      style="
        background-image: url('<%= require('./images/bg-nimbu-element.svg') %>');
      "
      class="backgroundPolicy w-full"
    >
      <div
        x-data="{ hasAnimated: false, show: false }"
        x-intersect.once="show = true; hasAnimated = true"
        :class="{ 'animate-fade-up': show, 'sm:max-w-full': true, 'md:max-w-2xl': true, 'lg:max-w-4xl': true }"
        class="mx-auto animate-fade-up pt-52 animate-duration-[1200ms]"
      >
        <div class="text-center">
          <h1
            class="responsiveText font-outfit text-4xl font-bold tracking-tight text-white md:text-5xl lg:text-7xl"
          >
            Nimbu
            <span class="text-yellow"> Terms and Conditions</span>
          </h1>
          <p
            class="responsiveText2 mt-6 pb-20 text-lg leading-8 text-white lg:text-3xl"
          >
            The Terms and Conditions to signing up for Nimbu
          </p>
        </div>
      </div>
    </div>

    <div
      x-data="{ hasAnimated: false, show: false }"
      x-intersect.once="show = true; hasAnimated = true"
      :class="{ 'animate-fade-up': show }"
      class="animate-fade-up animate-delay-[300ms] animate-duration-[1200ms]"
    >
      <div class="md:pt-38 mx-auto max-w-4xl px-4 pt-20 sm:pt-20">
        <div class="text-start">
          <p
            class="pb-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            By signing up for the Nimbu service (referred to as “Service”) or
            any of the services of Zenjoy (“Zenjoy”) you are agreeing to be
            bound by the following terms and conditions (“Terms and
            Conditions”). Any new features or tools which are added to the
            current Service shall be also subject to the Terms and Conditions.
            You can review the most current version of the Terms and Conditions
            at any time here. Nimbu reserves the right to update and change the
            Terms and Conditions by posting updates and changes to the Nimbu
            website. You are advised to check the Terms and Conditions from time
            to time for any updates or changes that may impact you.
          </p>
        </div>
      </div>

      <div class="mx-auto max-w-4xl px-4 pt-20">
        <div class="text-start">
          <h1
            class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
          >
            ACCOUNT TERMS
          </h1>
        </div>
      </div>

      <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
        <ol class="custom-list list-inside list-decimal space-y-2 pt-3">
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You must be 18 years or older to use this Service.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You must provide your full legal name, current address, a valid
            email address, and any other information needed in order to complete
            the signup process.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You are responsible for keeping your password secure. Zenjoy cannot
            and will not be liable for any loss or damage from your failure to
            maintain the security of your account and password.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You may not use the Nimbu service for any illegal or unauthorized
            purpose nor may you, in the use of the Service, violate any laws in
            your jurisdiction (including but not limited to copyright laws) as
            well as the laws of Belgium and the European Union.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You are responsible for all activity and content (data, graphics,
            photos, links) that is uploaded under your Nimbu account.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You must not transmit any worms or viruses or any code of a
            destructive nature.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            A breach or violation of any of the Account Terms as determined in
            the sole discretion of Nimbu will result in an immediate termination
            of your services.
          </li>
        </ol>
      </div>

      <div class="mx-auto max-w-4xl px-4 pt-20">
        <div class="text-start">
          <h1
            class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
          >
            GENERAL CONDITIONS
          </h1>
        </div>
      </div>

      <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
        <div class="text-start">
          <p
            class="pb-3 text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You must read, agree with and accept all of the terms and conditions
            contained in this User Agreement before you may become a member of
            Nimbu.
          </p>
          <ol class="custom-list list-inside list-decimal space-y-2 pt-3">
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              We reserve the right to modify or terminate the Service for any
              reason, without notice at any time.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              We reserve the right to refuse service to anyone for any reason at
              any time.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Your use of the Service is at your sole risk. The Service is
              provided on an ”as is“ and ”as available“ basis without any
              warranty or condition, express, implied or statutory.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Zenjoy does not warrant that the service will be uninterrupted,
              timely, secure, or error-free.
            </li>

            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Zenjoy does not warrant that the results that may be obtained from
              the use of the service will be accurate or reliable.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              You understand that your Content (not including credit card
              information), may be transferred unencrypted and involve (a)
              transmissions over various networks; and (b) changes to conform
              and adapt to technical requirements of connecting networks or
              devices. Credit Card information is always encrypted during
              transfer over networks.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              We may, but have no obligation to, remove Content and Accounts
              containing Content that we determine in our sole discretion are
              unlawful, offensive, threatening, libelous, defamatory,
              pornographic, obscene or otherwise objectionable or violates any
              party’s intellectual property or these Terms and Conditions.
            </li>

            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Zenjoy does not warrant that the quality of any products,
              services, information, or other material purchased or obtained by
              you through the Service will meet your expectations, or that any
              errors in the Service will be corrected.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              You expressly understand and agree that Zenjoy shall not be liable
              for any direct, indirect, incidental, special, consequential or
              exemplary damages, including but not limited to, damages for loss
              of profits, goodwill, use, data or other intangible losses
              resulting from the use of or inability to use the service.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              In no event shall Zenjoy or our suppliers be liable for lost
              profits or any special, incidental or consequential damages
              arising out of or in connection with our site, our services or
              this agreement (however arising including negligence). You agree
              to indemnify and hold us and (as applicable) our parent,
              subsidiaries, affiliates, Zenjoy partners, officers, directors,
              agents, and employees, harmless from any claim or demand,
              including reasonable attorneys’ fees, made by any third party due
              to or arising out of your breach of this Agreement or the
              documents it incorporates by reference, or your violation of any
              law or the rights of a third party.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Technical support is only provided to paying account holders and
              is only available via email.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              You agree not to reproduce, duplicate, copy, sell, resell or
              exploit any portion of the Service, use of the Service, or access
              to the Service without the express written permission by Zenjoy.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Verbal or written abuse of any kind (including threats of abuse or
              retribution) of any Nimbu customer, employee, member, or officer
              will result in immediate account termination.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              We do not claim any intellectual property rights over the material
              you provide to the Nimbu service. All material you upload remains
              yours. You can remove your Nimbu store at any time by deleting
              your account. This will also remove all content you have stored on
              the Service.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              By uploading images and item description content to Nimbu.io, you
              agree to allow other internet users to view them and you agree to
              allow Zenjoy to display and store them and you agree that Nimbu
              can, at any time, review all the content submitted by you to its
              Service.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              The failure of Zenjoy to exercise or enforce any right or
              provision of the Terms and Conditions shall not constitute a
              waiver of such right or provision. The Terms and Conditions
              constitutes the entire agreement between you and Zenjoy and govern
              your use of the Service, superseding any prior agreements between
              you and Zenjoy (including, but not limited to, any prior versions
              of the Terms and Conditions).
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              You retain ownership over all content that you submit to a Nimbu
              store however, by making your store public, you agree to allow
              others to view your content.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              You shall not purchase search engine or other pay per click
              keywords (such as Google AdWords), or domain names that use Nimbu
              or Nimbu trademarks and/or variations and misspellings thereof.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Nimbu does not pre-screen Content and it is in their sole
              discretion to refuse or remove any Content that is available via
              the Service.
            </li>
            <li
              class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
            >
              Questions about the Terms and Condtions should be sent to
              support@nimbu.io.
            </li>
          </ol>
        </div>
      </div>

      <div class="mx-auto max-w-4xl px-4 pt-20">
        <div class="text-start">
          <h1
            class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
          >
            PAYMENT OF FEES
          </h1>
        </div>
      </div>

      <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
        <ol class="custom-list list-inside list-decimal space-y-2 pt-3">
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            A valid credit card is required for accounts able to process orders
            using a live payment gateway. Accounts used for development purposes
            (unable to process orders using a live payment gateway) do not
            require a valid credit card.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            The service will be billed in 14 day intervals. When your billing
            period is over Nimbu users will be sent an invoice via email. As
            well, an invoice will appear on the account page of your Nimbu
            administration console. Users have approximately two weeks to bring
            up and settle any issues with the billing.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            All fees are exclusive of all federal, provincial, state or other
            governmental sales, goods and services, harmonized or other taxes,
            fees or charges now in force or enacted in the future (“Taxes”). If
            you are a resident of Belgium , you are responsible for all
            applicable Taxes that arise from or as a result of your subscription
            to a Plan. These Taxes are based on the rates applicable to the
            Belgian billing address you provided to us. Such amounts are in
            addition to payment for the Plan and will be billed to your credit
            card. If you are exempt from payment of such Taxes, you must provide
            us with an original certificate that satisfies applicable legal
            requirements attesting to tax-exempt status. Tax exemption will only
            apply from and after the date we receive such a certificate.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Nimbu does not provide refunds.
          </li>
        </ol>
      </div>

      <div class="mx-auto max-w-4xl px-4 pt-20">
        <div class="text-start">
          <h1
            class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
          >
            CANCELLATION AND TERMINATION
          </h1>
        </div>
      </div>

      <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
        <ol class="custom-list list-inside list-decimal space-y-2 pt-3">
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You may cancel your account at anytime by emailing support@nimbu.io.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Once your account is cancelled all of your Content will be
            immediately deleted from the Service. Since deletion of all data is
            final please be sure that you do in fact want to cancel your account
            before doing so.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            If you cancel the Service in the middle of the month, you will
            receive one final invoice via email. Once that invoice has been paid
            you will not be charged again.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            We reserve the right to modify or terminate the Nimbu service for
            any reason, without notice at any time.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Fraud: Without limiting any other remedies, Zenjoy may suspend or
            terminate your account if we suspect that you (by conviction,
            settlement, insurance or escrow investigation, or otherwise) have
            engaged in fraudulent activity in connection with the Site.
          </li>
        </ol>
      </div>

      <div class="mx-auto max-w-4xl px-4 pt-20">
        <div class="text-start">
          <h1
            class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
          >
            MODIFICATIONS TO THE SERVICE AND PRICES
          </h1>
        </div>
      </div>

      <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
        <ol class="custom-list list-inside list-decimal space-y-2 pt-3">
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Prices for using Nimbu are subject to change upon 14 days notice
            from Zenjoy. Such notice may be provided at any time by posting the
            changes to the Nimbu Site (Nimbu.io) or the administration menu of
            your Nimbu store via an announcement.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Zenjoy reserves the right at any time to time to modify or
            discontinue, the Service (or any part thereof) with or without
            notice.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Zenjoy shall not be liable to you or to any third party for any
            modification, price change, suspension or discontinuance of the
            Service.
          </li>
        </ol>
      </div>

      <div class="mx-auto max-w-4xl px-4 pt-20">
        <div class="text-start">
          <h1
            class="font-outfit text-2xl font-bold tracking-tight text-blue3 sm:text-3xl md:text-4xl"
          >
            OPTIONAL TOOLS
          </h1>
        </div>
      </div>

      <div class="md:pt-38 mx-auto max-w-4xl px-4 sm:pt-5">
        <ol class="custom-list list-inside list-decimal space-y-2 pt-3">
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Zenjoy may provide you with access to third party tools over which
            Zenjoy neither monitors nor has any control or input.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            You acknowledge and agree that Zenjoy provides access to such tools
            ‘as is’ without any warranties, representations or conditions of any
            kind and without any endorsement. Zenjoy shall have no liability
            whatsoever arising from or relating to your use of optional third
            party tools.
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Any use by you of optional tools offered through the site is
            entirely at your own risk and discretion and you should ensure that
            you are familiar with and approve the terms on which tools are
            provided by the relevant third party provider(s).
          </li>
          <li
            class="text-sm text-darkblue sm:text-sm sm:leading-5 md:text-sm lg:text-base"
          >
            Zenjoy strongly recommends that merchants seek specialist advice
            before using or relying on certain tools. In particular, tax
            calculators should be used for reference only and not as a
            substitute for independent tax advice when assessing the correct tax
            rates merchants should charge end users.
          </li>
        </ol>
      </div>
    </div>

    <div
      x-data="{ hasAnimated: false, show: false }"
      x-intersect.once="show = true; hasAnimated = true"
      :class="{ 'animate-fade': show }"
      class="relative isolate animate-fade px-4 pb-24 pt-28 md:px-6"
    >
      <div class="mx-auto max-w-7xl">
        <footer class="rounded-xl bg-blue" aria-labelledby="footer-heading">
          <div
            class="responsive_footer mx-auto max-w-[1540px] px-6 py-8 sm:px-8 sm:pt-20 lg:px-20 lg:pt-20"
          >
            <div
              class="flex flex-col justify-center xl:flex-row xl:items-center xl:justify-between"
            >
              <div class="mb-8 flex flex-wrap justify-center xl:mb-0">
                <a href="#">
                  <img
                    class="h-8 transition-transform duration-300 hover:scale-95"
                    src="<%= require('./images/nimbu_logo.svg') %>"
                    alt="Logo Nimbu"
                  />
                </a>
              </div>
              <ul class="flex flex-wrap justify-center gap-4 xl:gap-8">
                <li>
                  <a
                    href="/privacy"
                    class="text-sm leading-6 text-gray-300 hover:text-white"
                    >Privacy Policy</a
                  >
                </li>
                <li>
                  <a
                    href="/terms"
                    class="text-sm leading-6 text-gray-300 hover:text-white"
                    >Terms and Conditions</a
                  >
                </li>
                <li>
                  <a
                    href="https://status.zenjoy.be"
                    target="_blank"
                    class="text-sm leading-6 text-gray-300 hover:text-white"
                    >Status</a
                  >
                </li>
                <li>
                  <a
                    href="mailto:support@zenjoy.be"
                    class="text-sm leading-6 text-gray-300 hover:text-white"
                    >Support</a
                  >
                </li>
              </ul>
            </div>

            <div
              class="mt-8 flex flex-col border-t border-white/10 pt-8 sm:flex-row sm:justify-between"
            >
              <p class="text-center text-xs leading-5 text-white sm:text-left">
                &copy; 2024 Zenjoy, Inc. All rights reserved.
              </p>
              <div class="mt-4 text-center sm:mt-0 sm:text-right">
                <a href="https://www.zenjoy.be/" target="_blank">
                  <button
                    class="rounded-full bg-white px-4 py-2 text-sm font-semibold text-black ring-1 ring-white transition-colors duration-300 hover:bg-blue hover:text-white hover:ring-1 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                  >
                    Zenjoy Website
                  </button>
                </a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
