@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html,
body {
  @apply h-full;
  scroll-behavior: smooth;
}

// fonts
$font-outfit: 'Outfit', 'sans-serif';
$font-franklin: 'Libre Franklin', 'sans-serif';

// colors
$primariy-color: #fdb833;
$secondary-color: #84c7d0;
$tertiary-color: #708d81;
$white-color: #f7f7f7;
$black-color: #2785f1;
$black-color: #74aef0;
$blue: #020e1b;
$blue2: #23446a;
$blue3: #30629b;
@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.arrow,
.titleColor,
.primary {
  color: $primariy-color;
}

// header + navbar
header {
  margin: 0 auto;
  max-width: 90rem;
  width: 100%;
  font-family: $font-franklin;
}
// element
.element {
  height: 900px;
  max-width: 100%;
  object-fit: fill;
  background-repeat: no-repeat;
}
.element2 {
  background-position-y: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
}
.backgroundPolicy {
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  padding-bottom: 7.5rem;
  width: 100%;
}

@media (max-width: 1230px) {
  .element {
    height: 600px;
  }
}
@media (max-width: 640px) {
  .element {
    height: 500px;
  }
}
@media (max-width: 400px) {
  .element {
    height: 400px;
  }
}

// carts

.demo-10 {
  --color-text: #000;
  --color-bg: #e1e1e1;
  --color-link: rgba(0, 0, 0, 0.6);
  --color-link-hover: #000;
  --color-bg-1: #9d9d9d;
  --color-bg-2: #c7c7c7;
}
.backColor {
  background-color: #020c17;
}
.demo-10 {
  --color-bg-1: #020c17;
  --color-bg-2: #020c17;
  --color-bg-3: #020c17;
}

.content {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content--sticky {
  width: 100vw;
  position: sticky;
  top: 0;
  --offset: 0px;
  top: var(--offset);
  height: calc(100vh - var(--offset));
}

.content--half {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  text-align: center;
}

.content--half:nth-child(odd) {
  margin-left: auto;
}

.content__img {
  grid-area: content-img;
  width: 100%;
  max-width: 40%;
  height: 100%;
  padding-bottom: 50px;
}

.content__img--large {
  width: 60%;
  height: auto;
}

.content__img--small {
  height: 35%;
  width: auto;
}

.spacer {
  margin-top: 20vh;
}

.content__title {
  grid-area: content-title;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  line-height: 1;
  font-size: clamp(2rem, 6vw, 3rem);
  margin: 0;
  font-weight: bold;
  font-family: $font-outfit;
  color: #f7f7f7;
  padding-top: 60px;
}

.content__text {
  color: #f7f7f7;
  margin: 0;
  max-width: 700px;
  grid-area: content-text;
  text-align: center;
  line-height: 1.5;
  padding: 0 1rem;
  backface-visibility: hidden;
  font-family: $font-franklin;
  font-size: clamp(0.2rem, 3vw, 1rem);
}

.content__text--narrow {
  max-width: 100%;
}

.content--intro {
  padding-bottom: 4vh;
  z-index: 2;
}
@media (max-width: 375px) {
  .content--intro {
    padding-bottom: 20vh;
  }
}
.content--outro {
  padding-top: 50vh;
  padding-bottom: 30vh;
}

.bg-1 {
  background: var(--color-bg-1);
}
.bg-2 {
  background: var(--color-bg-2);
}
.bg-3 {
  background: var(--color-bg-3);
}
.bg-4 {
  background: var(--color-bg-4);
}
.bg-5 {
  background: var(--color-bg-5);
}
.bg-6 {
  background: var(--color-bg-6);
}

@media screen and (min-width: 63em) {
  .content--grid .content__title {
    align-self: end;
  }
  .frame__demos {
    position: fixed;
    bottom: 2rem;
  }
  .frame--footer {
    padding-bottom: 0;
    grid-template-areas: 'credits ...' '... author';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 6rem;
  }
  .frame__author {
    align-self: center;
  }
  .frame #cdawrap {
    max-width: 300px;
    text-align: right;
  }
  .frame #cdawrap,
  .frame__author,
  .frame__sub {
    justify-self: end;
  }
  .content--grid,
  .content--grid .content__inner {
    grid-template-areas: 'content-img content-title' 'content-img content-text';
    grid-template-columns: 30% 1fr;
    justify-items: start;
  }
  .content__img--large {
    width: 160%;
  }
  .content__img--left {
    justify-self: end;
  }
  .content__text--left {
    text-align: left;
    align-self: start;
  }
  .content--card {
    width: 50vw;
  }
  .content--half {
    width: 50%;
  }
}

@import 'swiper/css';

.swiper {
  // height: 450px;
  overflow: visible;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.05),
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.svg-center {
  display: block;
  margin: 0 auto;
}

.container_nimbu {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}
.container2 {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .footer_text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .responsive_footer {
    padding-top: 50px;
  }
}

@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

ol.custom-list {
  list-style: none;
  counter-reset: list-counter;
  padding-left: 0;
}
ol.custom-list li {
  counter-increment: list-counter;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
ol.custom-list li::before {
  content: counter(list-counter) '.';
  flex: 0 0 2em;
}

